Segmentation fault with dune exec lambdapi -- check tests/OK/search.lp

lambdapi check fails on tests/OK/search.lp with ocaml 5.5.0 (it works with ocaml 5.4.1).

bug introduced in #1290 
@sacerdot @Alidra could you please fix this?
fix also the fact that this error has not been detected by CI

note also that the emacs plugin seems to be broken by #1290 as well (see #1458)

Thx Frédéric for the feedback.
Could you please share more about your environment because I couldn't reproduce on my side?
For instance, I have the following :
`opam switch` -> 
```
...
→  ocaml.5.5.0  ocaml.5.5.0                ocaml.5.5.0
```
`opam list` ->
```# Packages matching: installed
# Name                  # Installed   # Synopsis
alcotest                1.9.1         Alcotest is a lightweight and colourful test framework
angstrom                0.16.1        Parser combinators built for speed and memory-efficiency
astring                 0.8.5         Alternative String module for OCaml
base                    v0.17.3       Full standard library replacement for OCaml
base-bigarray           base
base-bytes              base          Bytes library distributed with the OCaml compiler
base-domains            base
base-effects            base
base-nnp                base          Naked pointers prohibited in the OCaml heap
base-threads            base
base-unix               base
base64                  3.5.2         Base64 encoding for OCaml
bigarray-compat         1.1.0         Compatibility library to use Stdlib.Bigarray when possible
bigstringaf             0.10.0        Bigstring intrinsics and fast blits based on memcpy/memmove
bstr                    0.0.4         A simple library for bigstrings
camlp-streams           5.0.1         The Stream and Genlex libraries for use with Camlp4 and Camlp5
caqti                   2.0.1         Unified interface to relational database libraries
caqti-lwt               2.0.1         Lwt support for Caqti
cmdliner                2.1.1         Declarative definition of command line interfaces for OCaml
compiler-cloning        enabled       Relocatable OCaml
conf-gmp                5             Virtual package relying on a GMP lib system installation
conf-libev              4-13          High-performance event loop/event model with lots of features
conf-libssl             4             Virtual package relying on an OpenSSL library system installation
conf-pkg-config         5             Check if pkg-config is installed and create an opam switch local pkgconfig folder
cppo                    1.8.0         Code preprocessor like cpp for OCaml
csexp                   1.5.2         Parsing and printing of S-expressions in Canonical form
cstruct                 6.2.0         Access C-like structures directly from OCaml
digestif                1.3.1         Hashes implementations (SHA*, RIPEMD160, BLAKE2* and MD5)
domain-name             0.5.0         RFC 1035 Internet domain names
dream                   1.0.0~alpha8  Tidy, feature-complete Web framework
dream-httpaf            1.0.0~alpha4  Internal: shared http/af stack for Dream (server) and Hyper (client)
dream-pure              1.0.0~alpha2  Internal: shared HTTP types for Dream (server) and Hyper (client)
dune                    3.24.1        Fast, portable, and opinionated build system
dune-configurator       3.24.1        Helper library for gathering system configuration
dune-private-libs       3.24.1        Private libraries of Dune
dune-site               3.24.1        Embed locations information inside executable and libraries
duration                0.3.1         Conversions to various time units
dyn                     3.24.1        Dynamic type
eqaf                    0.10          Constant-time equal function on string
faraday                 0.8.2         A library for writing fast and memory-efficient serializers
faraday-lwt             0.8.2         Lwt support for Faraday
faraday-lwt-unix        0.8.2         Lwt_unix support for Faraday
fmt                     0.11.0        OCaml Format pretty-printer combinators
fs-io                   3.24.1        File System Operations
gen                     1.1           Iterators for OCaml, both restartable and consumable
gluten                  0.5.2         A reusable runtime library for network protocols
gluten-lwt              0.5.2         Lwt-specific runtime for gluten
gluten-lwt-unix         0.5.2         Lwt + Unix support for gluten
graphql                 0.14.0        Build GraphQL schemas and execute queries against them
graphql-lwt             0.14.0        Build GraphQL schemas with Lwt support
graphql_parser          0.14.0        Library for parsing GraphQL queries
h2                      0.10.0        A high-performance, memory-efficient, and scalable HTTP/2 library for OCaml
h2-lwt                  0.10.0        Lwt support for h2
h2-lwt-unix             0.10.0        Lwt + UNIX support for h2
hmap                    0.8.1         Heterogeneous value maps for OCaml
hpack                   0.13.0        An HPACK (Header Compression for HTTP/2) implementation in OCaml
httpaf                  0.7.1         A high-performance, memory-efficient, and scalable web server for OCaml
httpun                  0.1.0         A high-performance, memory-efficient, and scalable HTTP library for OCaml
httpun-lwt              0.1.0         Lwt support for httpun
httpun-lwt-unix         0.1.0         Lwt + Unix support for httpun
httpun-types            0.1.0         Common HTTP/1.x types
httpun-ws               0.2.0         Websocket implementation for httpun
ipaddr                  5.6.2         A library for manipulation of IP (and MAC) address representations
jane-street-headers     v0.17.0       Jane Street C header files
jst-config              v0.17.0       Compile-time configuration for Jane Street libraries
ke                      0.6           Queue implementation
lambdasoup              1.1.1         Easy functional HTML scraping and manipulation with CSS selectors
logs                    0.10.0        Logging infrastructure for OCaml
lwt                     6.1.2         Promises and event-driven I/O
lwt-dllist              1.1.0         Mutable doubly-linked list with Lwt iterators
lwt_ppx                 6.1.0         PPX syntax for Lwt, providing something similar to async/await from JavaScript
lwt_ssl                 1.2.0         OpenSSL binding with concurrent I/O
macaddr                 5.6.2         A library for manipulation of MAC address representations
magic-mime              1.3.1         Map filenames to common MIME types
markup                  1.0.3         Error-recovering functional HTML5 and XML parsers and writers
menhir                  20260209      An LR(1) parser generator
menhirCST               20260209      Runtime support library for unparsers generated by Menhir
menhirGLR               20260209      Runtime support library for GLR parsers generated by Menhir
menhirLib               20260209      Runtime support library for parsers generated by Menhir
menhirSdk               20260209      Compile-time library for auxiliary tools related to Menhir
mirage-clock            4.2.0         Libraries and module types for portable clocks
mirage-crypto           1.2.0         Simple symmetric cryptography for the modern age
mirage-crypto-rng       1.2.0         A cryptographically secure PRNG
mirage-crypto-rng-lwt   1.2.0         A cryptographically secure PRNG
mtime                   2.1.0         Monotonic wall-clock time for OCaml
multipart_form          0.8.0         Multipart-form: RFC2183, RFC2388 & RFC7578
multipart_form-lwt      0.8.0         Multipart-form: RFC2183, RFC2388 & RFC7578
ocaml                   5.5.0         The OCaml compiler (virtual package)
ocaml-base-compiler     5.5.0         Official release of OCaml 5.5.0
ocaml-compiler          5.5.0         Official release of OCaml 5.5.0
ocaml-compiler-libs     v0.17.0       OCaml compiler libraries repackaged
ocaml-options-vanilla   1             Ensure that OCaml is compiled with no special options enabled
ocaml-syntax-shims      1.0.0         Backport new syntax to older OCaml versions
ocaml_intrinsics_kernel v0.17.2       Intrinsics
ocamlbuild              0.16.1        OCamlbuild is a build system with builtin rules to easily build most OCaml projects
ocamlfind               1.9.9~preview A library manager for OCaml
ocplib-endian           1.2           Optimised functions to read and write int16/32/64 from strings and bigarrays
ordering                3.24.1        Element ordering
pecu                    0.7           Encoder/Decoder of Quoted-Printable (RFC2045 & RFC2047)
pp                      2.0.0         Pretty-printing library
ppx_assert              v0.17.0       Assert-like extension nodes that raise useful errors on failure
ppx_base                v0.17.0       Base set of ppx rewriters
ppx_cold                v0.17.0       Expands [@cold] into [@inline never][@specialise never][@local never]
ppx_compare             v0.17.0       Generation of comparison functions from types
ppx_derivers            1.2.1         Shared [@@deriving] plugin registry
ppx_enumerate           v0.17.0       Generate a list containing all values of a finite type
ppx_globalize           v0.17.2       A ppx rewriter that generates functions to copy local values to the global heap
ppx_hash                v0.17.0       A ppx rewriter that generates hash functions from type expressions and definitions
ppx_here                v0.17.0       Expands [%here] into its location
ppx_inline_test         v0.17.1       Syntax extension for writing in-line tests in ocaml code
ppx_optcomp             v0.17.1       Optional compilation for OCaml
ppx_sexp_conv           v0.17.1       [@@deriving] plugin to generate S-expression conversion functions
ppxlib                  0.38.0        Standard infrastructure for ppx rewriters
ppxlib_jane             v0.17.4       Utilities for working with Jane Street AST constructs
pratter                 5.0.2         A table-driven operator precedence parser
prettym                 0.0.5         An memory-bounded encoder according to RFC 822
psq                     0.2.1         Functional Priority Search Queues
ptime                   1.2.0         POSIX time for OCaml
re                      1.14.0        RE is a regular expression library for OCaml
result                  1.5           Compatibility Result module
rresult                 0.7.0         Result value combinators for OCaml
sedlex                  3.7           An OCaml lexer generator for Unicode
seq                     base          Compatibility package for OCaml's standard iterator type starting from 4.07.
sexplib0                v0.17.0       Library containing the definition of S-expressions and some base converters
ssl                     0.7.0         Bindings for OpenSSL
stdio                   v0.17.0       Standard IO library for OCaml
stdlib-shims            0.3.0         Backport some of the new stdlib features to older compiler
stdune                  3.24.1        Dune's unstable standard library
stringext               1.6.0         Extra string functions for OCaml
time_now                v0.17.0       Reports the current time
timed                   1.1           Timed references for imperative state
top-closure             3.24.1        Topological Closure
topkg                   1.1.1         The transitory OCaml software packager
uchar                   0.0.2         Compatibility library for OCaml's Uchar module
unstrctrd               0.4           Fast and compliant Unstructured parser according RFC 822
uri                     4.4.0         An RFC3986 URI/URL parsing library
uutf                    1.0.4         Non-blocking streaming Unicode codec for OCaml
why3                    1.8.2         Why3 environment for deductive program verification
yojson                  3.0.0         Yojson is an optimized parsing and printing library for the JSON format
zarith                  1.14          Implements arithmetic and logical operations over arbitrary-precision integers
```
`dune exec -- lambdapi --version` ->
`dev-3.0.0-141-g539444ef`    ##539444ef is the ID of the begining of the last commit on master

`dune exec -- lambdapi check tests/OK/search.lp` ->
```Start checking "/home/abdelghani/Repos/lambdapi/tests/OK/search.lp"
Number of results: 0
Nothing found

Number of results: 0
Nothing found

Number of results: 0
Nothing found

Number of results: 0
Nothing found

End checking "/home/abdelghani/Repos/lambdapi/tests/OK/search.lp"
```

```
13:30 ~/src/lambdapi ((HEAD détachée sur b4665dc9)) lp check tests/OK/search.lp Start checking "/home/blanqui/src/lambdapi/tests/OK/search.lp"
Erreur de segmentation (core dumped)
13:31 ~/src/lambdapi ((HEAD détachée sur b4665dc9)) opam list
# Packages matching: installed
# Name                  # Installed  # Synopsis
alcotest                1.9.1        Alcotest is a lightweight and colourful tes
angstrom                0.16.1       Parser combinators built for speed and memo
asn1-combinators        0.3.2        Embed typed ASN.1 grammars in OCaml
astring                 0.8.5        Alternative String module for OCaml
base                    v0.17.3      Full standard library replacement for OCaml
base-bigarray           base
base-bytes              base         Bytes library distributed with the OCaml co
base-domains            base
base-effects            base
base-nnp                base         Naked pointers prohibited in the OCaml heap
base-threads            base
base-unix               base
base64                  3.5.2        Base64 encoding for OCaml
bigarray-compat         1.1.0        Compatibility library to use Stdlib.Bigarra
bigstringaf             0.10.0       Bigstring intrinsics and fast blits based o
bstr                    0.0.4        A simple library for bigstrings
camlp-streams           5.0.1        The Stream and Genlex libraries for use wit
caqti                   2.3.2        Unified interface to relational database li
caqti-lwt               2.3.2        Lwt support for Caqti
cmdliner                1.3.0        Declarative definition of command line inte
compiler-cloning        enabled      Relocatable OCaml
conf-c++                1.0          Virtual package relying on the c++ compiler
conf-emacs              1            Virtual package to install the Emacs editor
conf-gmp                5            Virtual package relying on a GMP lib system
conf-gmp-powm-sec       4            Virtual package relying on a GMP lib with c
conf-libev              4-13         High-performance event loop/event model wit
conf-libssl             4            Virtual package relying on an OpenSSL libra
conf-linux-libc-dev     0            Virtual package relying on the installation
conf-pkg-config         5            Check if pkg-config is installed and create
conf-python-3           9.0.0        Virtual package relying on Python-3 install
cppo                    1.8.0        Code preprocessor like cpp for OCaml
csexp                   1.5.2        Parsing and printing of S-expressions in Ca
cstruct                 6.2.0        Access C-like structures directly from OCam
dedukti                 2.7          An implementation of The Lambda-Pi Modulo T
digestif                1.3.1        Hashes implementations (SHA*, RIPEMD160, BL
domain-name             0.5.0        RFC 1035 Internet domain names
dot-merlin-reader       5.8-505      Reads config files for merlin
dream                   1.0.0~alpha8 Tidy, feature-complete Web framework
dream-httpaf            1.0.0~alpha4 Internal: shared http/af stack for Dream (s
dream-pure              1.0.0~alpha2 Internal: shared HTTP types for Dream (serv
dune                    3.23.1       Fast, portable, and opinionated build syste
dune-build-info         3.23.1       Embed build information inside executable
dune-configurator       3.23.1       Helper library for gathering system configu
dune-private-libs       3.23.1       Private libraries of Dune
dune-site               3.23.1       Embed locations information inside executab
duration                0.3.1        Conversions to various time units
dyn                     3.23.1       Dynamic type
either                  1.0.0        Compatibility Either module
eqaf                    0.10         Constant-time equal function on string
faraday                 0.8.2        A library for writing fast and memory-effic
faraday-lwt             0.8.2        Lwt support for Faraday
faraday-lwt-unix        0.8.2        Lwt_unix support for Faraday
fix                     20250919     Algorithmic building blocks for memoization
fmt                     0.11.0       OCaml Format pretty-printer combinators
fpath                   0.7.3        File system paths for OCaml
fs-io                   3.23.1       File System Operations
gen                     1.1          Iterators for OCaml, both restartable and c
gluten                  0.5.2        A reusable runtime library for network prot
gluten-lwt              0.5.2        Lwt-specific runtime for gluten
gluten-lwt-unix         0.5.2        Lwt + Unix support for gluten
gmap                    0.3.0        Heterogenous maps over a GADT
graphql                 0.14.0       Build GraphQL schemas and execute queries a
graphql-lwt             0.14.0       Build GraphQL schemas with Lwt support
graphql_parser          0.14.0       Library for parsing GraphQL queries
h2                      0.10.0       A high-performance, memory-efficient, and s
h2-lwt                  0.10.0       Lwt support for h2
h2-lwt-unix             0.10.0       Lwt + UNIX support for h2
hmap                    0.8.1        Heterogeneous value maps for OCaml
hol2dk                  2.1.0        pinned to version 2.1.0 at git+file:///home
hpack                   0.13.0       An HPACK (Header Compression for HTTP/2) im
httpaf                  0.7.1        A high-performance, memory-efficient, and s
httpun                  0.1.0        A high-performance, memory-efficient, and s
httpun-lwt              0.1.0        Lwt support for httpun
httpun-lwt-unix         0.1.0        Lwt + Unix support for httpun
httpun-types            0.1.0        Common HTTP/1.x types
httpun-ws               0.2.0        Websocket implementation for httpun
ipaddr                  5.6.2        A library for manipulation of IP (and MAC) 
jane-street-headers     v0.17.0      Jane Street C header files
jst-config              v0.17.0      Compile-time configuration for Jane Street 
kdf                     1.1.0        Key Derivation Functions: HKDF RFC 5869, PB
ke                      0.6          Queue implementation
lambdapi                3.0.0        pinned to version 3.0.0 at git+file:///home
lambdapi-stdlib         1.4.0        pinned to version 1.4.0 at git+file:///home
lambdapi-zenon          1.0.0        pinned to version 1.0.0 at git+file:///home
lambdasoup              1.1.1        Easy functional HTML scraping and manipulat
logs                    0.10.0       Logging infrastructure for OCaml
lru                     0.3.1        Scalable LRU caches
lwt                     6.1.2        Promises and event-driven I/O
lwt-dllist              1.1.0        Mutable doubly-linked list with Lwt iterato
lwt_ppx                 6.1.0        PPX syntax for Lwt, providing something sim
lwt_ssl                 1.2.0        OpenSSL binding with concurrent I/O
macaddr                 5.6.2        A library for manipulation of MAC address r
magic-mime              1.3.1        Map filenames to common MIME types
markup                  1.0.3        Error-recovering functional HTML5 and XML p
menhir                  20260209     An LR(1) parser generator
menhirCST               20260209     Runtime support library for unparsers gener
menhirGLR               20260209     Runtime support library for GLR parsers gen
menhirLib               20260209     Runtime support library for parsers generat
menhirSdk               20260209     Compile-time library for auxiliary tools re
merlin                  5.8-505      Editor service that provides advanced IDE f
merlin-lib              5.8-505      Merlin's libraries
mirage-clock            4.2.0        Libraries and module types for portable clo
mirage-crypto           1.2.0        Simple symmetric cryptography for the moder
mirage-crypto-ec        1.2.0        Elliptic Curve Cryptography with primitives
mirage-crypto-pk        1.2.0        Simple public-key cryptography for the mode
mirage-crypto-rng       1.2.0        A cryptographically secure PRNG
mirage-crypto-rng-lwt   1.2.0        A cryptographically secure PRNG
mtime                   2.1.0        Monotonic wall-clock time for OCaml
multipart_form          0.8.0        Multipart-form: RFC2183, RFC2388 & RFC7578
multipart_form-lwt      0.8.0        Multipart-form: RFC2183, RFC2388 & RFC7578
ocaml                   5.5.0        The OCaml compiler (virtual package)
ocaml-base-compiler     5.5.0        Official release of OCaml 5.5.0
ocaml-compiler          5.5.0        Official release of OCaml 5.5.0
ocaml-compiler-libs     v0.17.0      OCaml compiler libraries repackaged
ocaml-index             5.8-505      A tool that indexes value usages from cmt f
ocaml-options-vanilla   1            Ensure that OCaml is compiled with no speci
ocaml-syntax-shims      1.0.0        Backport new syntax to older OCaml versions
ocaml-version           4.1.3        Manipulate, parse and generate OCaml compil
ocaml_intrinsics_kernel v0.17.2      Intrinsics
ocamlbuild              0.16.1       OCamlbuild is a build system with builtin r
ocamlfind               1.9.8        A library manager for OCaml
ocamlformat             0.29.0       Auto-formatter for OCaml code
ocamlformat-lib         0.29.0       OCaml Code Formatter
ocp-indent              1.9.0        A simple tool to indent OCaml programs
ocplib-endian           1.2          Optimised functions to read and write int16
ohex                    0.2.0        Hexadecimal encoding and decoding
ordering                3.23.1       Element ordering
pecu                    0.7          Encoder/Decoder of Quoted-Printable (RFC204
pp                      2.0.0        Pretty-printing library
ppx_assert              v0.17.0      Assert-like extension nodes that raise usef
ppx_base                v0.17.0      Base set of ppx rewriters
ppx_cold                v0.17.0      Expands [@cold] into [@inline never][@speci
ppx_compare             v0.17.0      Generation of comparison functions from typ
ppx_derivers            1.2.1        Shared [@@deriving] plugin registry
ppx_enumerate           v0.17.0      Generate a list containing all values of a 
ppx_globalize           v0.17.2      A ppx rewriter that generates functions to 
ppx_hash                v0.17.0      A ppx rewriter that generates hash function
ppx_here                v0.17.0      Expands [%here] into its location
ppx_inline_test         v0.17.1      Syntax extension for writing in-line tests 
ppx_optcomp             v0.17.1      Optional compilation for OCaml
ppx_sexp_conv           v0.17.1      [@@deriving] plugin to generate S-expressio
ppxlib                  0.38.0       Standard infrastructure for ppx rewriters
ppxlib_jane             v0.17.4      Utilities for working with Jane Street AST 
pratter                 5.0.2        A table-driven operator precedence parser
prettym                 0.0.5        An memory-bounded encoder according to RFC 
psq                     0.2.1        Functional Priority Search Queues
ptime                   1.2.0        POSIX time for OCaml
re                      1.14.0       RE is a regular expression library for OCam
result                  1.5          Compatibility Result module
rocq-core               9.2.0        The Rocq Prover with its prelude
rocq-prover             meta.1       The Rocq Prover with Stdlib
rocq-runtime            9.2.0        The Rocq Prover -- Core Binaries and Tools
rocq-stdlib             9.1.0        The Rocq Proof Assistant -- Standard Librar
rresult                 0.7.0        Result value combinators for OCaml
sedlex                  3.7          An OCaml lexer generator for Unicode
seq                     base         Compatibility package for OCaml's standard 
sexplib0                v0.17.0      Library containing the definition of S-expr
ssl                     0.7.0        Bindings for OpenSSL
stdio                   v0.17.0      Standard IO library for OCaml
stdlib-shims            0.3.0        Backport some of the new stdlib features to
stdune                  3.23.1       Dune's unstable standard library
stringext               1.6.0        Extra string functions for OCaml
time_now                v0.17.0      Reports the current time
timed                   1.1          Timed references for imperative state
top-closure             3.23.1       Topological Closure
topkg                   1.1.1        The transitory OCaml software packager
tuareg                  3.0.1        OCaml mode for GNU Emacs
uchar                   0.0.2        Compatibility library for OCaml's Uchar mod
unstrctrd               0.4          Fast and compliant Unstructured parser acco
uri                     4.4.0        An RFC3986 URI/URL parsing library
user-setup              0.8          Helper for the configuration of editors for
uucp                    17.0.0       Unicode character properties for OCaml
uuseg                   17.0.0       Unicode text segmentation for OCaml
uutf                    1.0.4        Non-blocking streaming Unicode codec for OC
why3                    1.8.2        Why3 environment for deductive program veri
x509                    1.1.1        Public Key Infrastructure (RFC 5280, PKCS) 
yojson                  3.0.0        Yojson is an optimized parsing and printing
z3                      4.16.0       Z3 solver
zarith                  1.14         Implements arithmetic and logical operation
zenon_modulo            0.5.0        Zenon Modulo Theory
```

What is strange is that CI works: https://github.com/Deducteam/lambdapi/actions/runs/30284205281/job/90037832184?pr=1478#step:8:472

It works if I first install lambdapi and then run it instead of using 'dune exec'. I use dune 3.23.1.

CI uses dune 3.24.1 but I get the same problem with this version of dune.

_build/install/default/bin/lambdapi check tests/OK/search.lp works...

I opened an issue on dune: https://github.com/ocaml/dune/issues/15611

Very strange. `dune exec lambdapi check tests/OK/search.lp` works fine for me!!
could you please do `dune exec -- lambdapi --version`?
Does the same problem happen with other files ( tests/OK/apply.lp for instance)?
What is strange also is that this issue seams related to the the one on Emacs #1458 but I cant reproduce it neither.

Seems to me that #1290 changed the database schema, causing a segfault due to `Marshal.from_channel`. I don't think dune is responsible here but rather the cache is stale.

I understand the problem now. Thanks. @Alidra we need to version the db type used, that is, start the db file with an integer value (output_value version) and fail if the read version is different.