lambdapi upstream does not compile when installed with opam

claudio@zenone:~/ricerca/dedukti/lambdapi.upstream$ git remote -v
origin	https://github.com/Deducteam/lambdapi.git (fetch)
origin	https://github.com/Deducteam/lambdapi.git (push)

claudio@zenone:~/ricerca/dedukti/lambdapi.upstream$ git status
On branch master
Your branch is up to date with 'origin/master'.

nothing to commit, working tree clean


claudio@zenone:~/ricerca/dedukti/lambdapi.upstream$ opam pin -k path .
[NOTE] Package lambdapi is already pinned to file:///home/claudio/ricerca/dedukti/lambdapi.upstream (version
       3.0.0).
lambdapi is now pinned to file:///home/claudio/ricerca/dedukti/lambdapi.upstream (version 3.0.0)

Already up-to-date.
Nothing to do.
claudio@zenone:~/ricerca/dedukti/lambdapi.upstream$ opam install lambdapi

<><> Synchronising pinned packages ><><><><><><><><><><><><><><><><><><><><><><>
[lambdapi.3.0.0] synchronised (no changes)

The following actions will be performed:
=== recompile 1 package
  ↻ lambdapi 3.0.0 (pinned)

<><> Processing actions <><><><><><><><><><><><><><><><><><><><><><><><><><><><>
⬇ retrieved lambdapi.3.0.0  (no changes)
[ERROR] The compilation of lambdapi.3.0.0 failed at "dune subst".

#=== ERROR while compiling lambdapi.3.0.0 =====================================#
# context     2.5.2 | linux/x86_64 | ocaml-base-compiler.4.14.4 | pinned(file:///home/claudio/ricerca/dedukti/lambdapi.upstream)
# path        ~/.opam/4.14.4/.opam-switch/build/lambdapi.3.0.0
# command     ~/.opam/opam-init/hooks/sandbox.sh build dune subst
# exit-code   1
# env-file    ~/.opam/log/lambdapi-509269-fc6066.env
# output-file ~/.opam/log/lambdapi-509269-fc6066.out
### output ###
# File "misc/gen_version.ml", line 3, characters 6-17:
# 3 |   if "%%VERSION%%" <> "%%" ^ "VERSION%%" then "%%VERSION%%" else
#           ^^^^^^^^^^^
# Error: repository does not contain any version information



<><> Error report <><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><>
┌─ The following actions failed
│ λ build lambdapi 3.0.0
└─ 
╶─ No changes have been performed



claudio@zenone:~/ricerca/dedukti/lambdapi.upstream$ opam list
# Packages matching: installed
# Name                  # Installed  # Synopsis
abella                  2.0.8        Interactive theorem prover based on lambda-tree syntax
alcotest                1.9.1        Alcotest is a lightweight and colourful test framework
angstrom                0.16.1       Parser combinators built for speed and memory-efficiency
astring                 0.8.5        Alternative String module for OCaml
atd                     4.2.0        Parser for the ATD data format description language
atdgen                  4.2.0        Generates efficient JSON serializers, deserializers and validators
atdgen-runtime          4.2.0        Runtime library for code generated by atdgen
atdts                   4.2.0        TypeScript code generation for ATD APIs
base                    v0.16.5      Full standard library replacement for OCaml
base-bigarray           base
base-bytes              base         Bytes library distributed with the OCaml compiler
base-threads            base
base-unix               base
base64                  3.5.2        Base64 encoding for OCaml
bigarray-compat         1.1.0        Compatibility library to use Stdlib.Bigarray when possible
bigstringaf             0.10.0       Bigstring intrinsics and fast blits based on memcpy/memmove
biniou                  1.2.2        Binary data format designed for speed, safety, ease of use and backward compatibility as protocols evolve
bos                     0.3.0        Basic OS interaction for OCaml
bstr                    0.0.4        A simple library for bigstrings
cairo2                  0.6.5        Binding to Cairo, a 2D Vector Graphics Library
camlp-streams           5.0.1        The Stream and Genlex libraries for use with Camlp4 and Camlp5
camlp5                  8.05.02      Preprocessor-pretty-printer of OCaml
camlp5-buildscripts     0.07         Camlp5 Build scripts (written in OCaml)
camlzip                 1.14         Accessing compressed files in ZIP, GZIP and JAR format
caqti                   2.0.1        Unified interface to relational database libraries
caqti-lwt               2.0.1        Lwt support for Caqti
cmdliner                2.1.1        Declarative definition of command line interfaces for OCaml
conf-adwaita-icon-theme 2            Virtual package relying on adwaita-icon-theme
conf-bash               1            Virtual package to install the Bash shell
conf-c++                1.0          Virtual package relying on the c++ compiler
conf-cairo              1            Virtual package relying on a Cairo system installation
conf-expat              1            Virtual package relying on an expat system installation
conf-findutils          1            Virtual package relying on findutils
conf-gmp                5            Virtual package relying on a GMP lib system installation
conf-gtk3               18           Virtual package relying on GTK+ 3
conf-gtksourceview3     0+2          Virtual package relying on a GtkSourceView-3 system installation
conf-libev              4-13         High-performance event loop/event model with lots of features
conf-libpcre2-8         2            Virtual package relying on a libpcre2 system installation
conf-libssl             4            Virtual package relying on an OpenSSL library system installation
conf-linux-libc-dev     0            Virtual package relying on the installation of the Linux kernel headers files
conf-m4                 1            Virtual package relying on m4
conf-perl               2            Virtual package relying on perl
conf-pkg-config         5            Check if pkg-config is installed and create an opam switch local pkgconfig folder
conf-python-3           9.0.0        Virtual package relying on Python-3 installation
conf-which              1            Virtual package relying on which
conf-zlib               1            Virtual package relying on zlib
coqide-server           9.2.0        The Rocq Prover, XML protocol server
cppo                    1.8.0        Code preprocessor like cpp for OCaml
crunch                  4.1.0        Convert a filesystem into a static OCaml module
csexp                   1.5.2        Parsing and printing of S-expressions in Canonical form
cstruct                 6.2.0        Access C-like structures directly from OCaml
dedukti                 2.7          An implementation of The Lambda-Pi Modulo Theory
digestif                1.3.1        Hashes implementations (SHA*, RIPEMD160, BLAKE2* and MD5)
domain-name             0.5.0        RFC 1035 Internet domain names
dream                   1.0.0~alpha7 Tidy, feature-complete Web framework
dream-httpaf            1.0.0~alpha3 Internal: shared http/af stack for Dream (server) and Hyper (client)
dream-pure              1.0.0~alpha2 Internal: shared HTTP types for Dream (server) and Hyper (client)
dune                    3.23.1       Fast, portable, and opinionated build system
dune-build-info         3.23.1       Embed build information inside executable
dune-compiledb          0.6.0        Generate compile_commands.json from dune rules
dune-configurator       3.23.1       Helper library for gathering system configuration
dune-private-libs       3.23.1       Private libraries of Dune
dune-site               3.23.1       Embed locations information inside executable and libraries
duration                0.3.1        Conversions to various time units
dyn                     3.23.1       Dynamic type
easy-format             1.3.4        High-level and functional interface to the Format module of the OCaml standard library
elpi                    3.7.2        ELPI - Embeddable λProlog Interpreter
eqaf                    0.10         Constant-time equal function on string
ezjsonm                 1.3.0        Simple interface on top of the Jsonm JSON library
faraday                 0.8.2        A library for writing fast and memory-efficient serializers
faraday-lwt             0.8.2        Lwt support for Faraday
faraday-lwt-unix        0.8.2        Lwt_unix support for Faraday
fmt                     0.11.0       OCaml Format pretty-printer combinators
fpath                   0.7.3        File system paths for OCaml
fs-io                   3.23.1       File System Operations
gen                     1.1          Iterators for OCaml, both restartable and consumable
graphql                 0.14.0       Build GraphQL schemas and execute queries against them
graphql-lwt             0.14.0       Build GraphQL schemas with Lwt support
graphql_parser          0.14.0       Library for parsing GraphQL queries
hex                     1.5.0        Library providing hexadecimal converters
hmap                    0.8.1        Heterogeneous value maps for OCaml
ipaddr                  5.6.2        A library for manipulation of IP (and MAC) address representations
jane-street-headers     v0.16.0      Jane Street C header files
jsonm                   1.0.2        Non-blocking streaming JSON codec for OCaml
jst-config              v0.16.0      Compile-time configuration for Jane Street libraries
ke                      0.6          Queue implementation
lablgtk3                3.1.5        OCaml interface to GTK+3
lablgtk3-sourceview3    3.1.5        OCaml interface to GTK+ gtksourceview library
lambdapi                3.0.0        pinned to version 3.0.0 at file:///home/claudio/ricerca/dedukti/lambdapi.upstream
lambdasoup              1.1.1        Easy functional HTML scraping and manipulation with CSS selectors
logs                    0.10.0       Logging infrastructure for OCaml
lwt                     5.10.1       Promises and event-driven I/O
lwt-dllist              1.1.0        Mutable doubly-linked list with Lwt iterators
lwt_ppx                 5.9.1        PPX syntax for Lwt, providing something similar to async/await from JavaScript
lwt_ssl                 1.2.0        OpenSSL binding with concurrent I/O
macaddr                 5.6.2        A library for manipulation of MAC address representations
magic-mime              1.3.1        Map filenames to common MIME types
markup                  1.0.3        Error-recovering functional HTML5 and XML parsers and writers
matita                  0.99.7       pinned to version 0.99.7 at file:///home/claudio/ricerca/matita5/matita
menhir                  20260209     An LR(1) parser generator
menhirCST               20260209     Runtime support library for unparsers generated by Menhir
menhirGLR               20260209     Runtime support library for GLR parsers generated by Menhir
menhirLib               20260209     Runtime support library for parsers generated by Menhir
menhirSdk               20260209     Compile-time library for auxiliary tools related to Menhir
mirage-clock            4.2.0        Libraries and module types for portable clocks
mirage-crypto           1.2.0        Simple symmetric cryptography for the modern age
mirage-crypto-rng       1.2.0        A cryptographically secure PRNG
mirage-crypto-rng-lwt   1.2.0        A cryptographically secure PRNG
mtime                   2.1.0        Monotonic wall-clock time for OCaml
multipart_form          0.8.0        Multipart-form: RFC2183, RFC2388 & RFC7578
multipart_form-lwt      0.8.0        Multipart-form: RFC2183, RFC2388 & RFC7578
not-ocamlfind           0.14         A small frontend for ocamlfind that adds a few useful commands
num                     1.6          The legacy Num library for arbitrary-precision integer and rational arithmetic
ocaml                   4.14.4       The OCaml compiler (virtual package)
ocaml-base-compiler     4.14.4       Official release 4.14.4
ocaml-compiler-libs     v0.12.4      OCaml compiler libraries repackaged
ocaml-config            2            OCaml Switch Configuration
ocaml-expat             1.3.0        Write XML-Parsers using the SAX method
ocaml-options-vanilla   1            Ensure that OCaml is compiled with no special options enabled
ocaml-syntax-shims      1.0.0        Backport new syntax to older OCaml versions
ocamlbuild              0.16.1       OCamlbuild is a build system with builtin rules to easily build most OCaml projects
ocamlfind               1.9.8        A library manager for OCaml
ocamlgraph              2.2.0        A generic graph library for OCaml
ocplib-endian           1.2          Optimised functions to read and write int16/32/64 from strings and bigarrays
ordering                3.23.1       Element ordering
parsexp                 v0.16.0      S-expression parsing library
pcre2                   8.0.4        Bindings to the Perl Compatibility Regular Expressions library (version 2)
pecu                    0.7          Encoder/Decoder of Quoted-Printable (RFC2045 & RFC2047)
pp                      2.0.0        Pretty-printing library
ppx_assert              v0.16.0      Assert-like extension nodes that raise useful errors on failure
ppx_base                v0.16.0      Base set of ppx rewriters
ppx_cold                v0.16.0      Expands [@cold] into [@inline never][@specialise never][@local never]
ppx_compare             v0.16.0      Generation of comparison functions from types
ppx_derivers            1.2.1        Shared [@@deriving] plugin registry
ppx_deriving            6.0.3        Type-driven code generation for OCaml
ppx_enumerate           v0.16.0      Generate a list containing all values of a finite type
ppx_globalize           v0.16.0      A ppx rewriter that generates functions to copy local values to the global heap
ppx_hash                v0.16.0      A ppx rewriter that generates hash functions from type expressions and definitions
ppx_here                v0.16.0      Expands [%here] into its location
ppx_inline_test         v0.16.1      Syntax extension for writing in-line tests in ocaml code
ppx_optcomp             v0.16.0      Optional compilation for OCaml
ppx_sexp_conv           v0.16.0      [@@deriving] plugin to generate S-expression conversion functions
ppxlib                  0.35.0       Standard infrastructure for ppx rewriters
pratter                 5.0.2        A table-driven operator precedence parser
prettym                 0.0.5        An memory-bounded encoder according to RFC 822
psq                     0.2.1        Functional Priority Search Queues
ptime                   1.2.0        POSIX time for OCaml
re                      1.14.0       RE is a regular expression library for OCaml
rocq-core               9.2.0        The Rocq Prover with its prelude
rocq-runtime            9.2.0        The Rocq Prover -- Core Binaries and Tools
rocq-stdlib             9.1.0        The Rocq Proof Assistant -- Standard Library
rocqide                 9.2.0        The Rocq Prover --- GTK3 IDE
rresult                 0.7.0        Result value combinators for OCaml
sedlex                  3.7          An OCaml lexer generator for Unicode
seq                     base         Compatibility package for OCaml's standard iterator type starting from 4.07.
sexplib                 v0.16.0      Library for serializing OCaml values to and from S-expressions
sexplib0                v0.16.0      Library containing the definition of S-expressions and some base converters
ssl                     0.7.0        Bindings for OpenSSL
stdio                   v0.16.0      Standard IO library for OCaml
stdlib-shims            0.3.0        Backport some of the new stdlib features to older compiler
stdune                  3.23.1       Dune's unstable standard library
stringext               1.6.0        Extra string functions for OCaml
time_now                v0.16.0      Reports the current time
timed                   1.1          Timed references for imperative state
top-closure             3.23.1       Topological Closure
topkg                   1.1.1        The transitory OCaml software packager
uchar                   0.0.2        Compatibility library for OCaml's Uchar module
universo                2.7          A tool for Dedukti to play with universes
unstrctrd               0.4          Fast and compliant Unstructured parser according RFC 822
uri                     4.4.0        An RFC3986 URI/URL parsing library
uucp                    17.0.0       Unicode character properties for OCaml
uuseg                   17.0.0       Unicode text segmentation for OCaml
uutf                    1.0.4        Non-blocking streaming Unicode codec for OCaml
why3                    1.8.2        Why3 environment for deductive program verification
yojson                  3.0.0        Yojson is an optimized parsing and printing library for the JSON format
z3                      4.16.0       Z3 solver
zarith                  1.14         Implements arithmetic and logical operations over arbitrary-precision integers


Hi @sacerdot .  I have no problem with ocaml 5.4.1. So it is perhaps specific to your version of ocaml?

No, it is not. Same with ocaml 5.5.0. The issue is given by "opam pin -k path". If you pin in another mode, it works. This is also a recent issue: it used to work when I was in Paris.

Thanks @sacerdot.
Indeed, the problem has been introduced with PR #1480 .
Specifically, the upgrade to version `3.18` of `Dune` seem to be the origin of the problem. I am exploring whether this a bug or new feature in `Dune` and whether there is any workaround.

Issue opened on Dune here : https://github.com/ocaml/dune/issues/16215